@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
/* smooth scrolling for the website */
html {
    scroll-behavior: smooth; 
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 60%;
    font-size: 10px;
}
/*-- Inspiration taken from abdo steif -->
/* --> https://codepen.io/abdosteif/pen/bRoyMb?editors=1100*/
.column-section { 
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    float: left;
    width:75%;
}
.move-right {
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
    float: right;
    width:80%;
}
.row {
    margin-right:-15px;
    margin-left:-15px
}
/* Navbar section */

.navigationbar {
    width: 100%;
    height: 60px;
    position: fixed;
    line-height: 60px;
    text-align: center;
}

.navigationbar div.dropdown-lang {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
}

.navigationbar div.dropdown-lang a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8rem;
}

.navigationbar div.dropdown-lang a:hover {
    color: #fff;
}

.navigationbar div.main_list {
    height: 65px;
    float: right;
}

.navigationbar div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigationbar div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 5rem;
}

.navigationbar div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 1.8rem;
}

.navigationbar div.main_list ul li a:hover {
    color: #fff;
}


/* Home section */

.home-section {
    width: 100%;
    height: 100vh;
    background-image: url(../images/Fotolia_99808592_L-1440x564_c.jpg);
    background-position: center top;
    background-size:cover;
}

.navTrigger {
    display: none;
}

.navigationbar {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 1;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container-section {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .navigationbar div.dropdown-lang {
        margin-left: 15px;
    }
    .navigationbar div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .navigationbar div.show_list {
        height: auto;
        display: none;
    }
    .navigationbar div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #1d5e8e;
        /*same background color of navbar*/
        background-position: center top;
    }
    .navigationbar div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .navigationbar div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .navigationbar div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix-navbar {
    padding: 0;
    background-color: #1d5e8e;
}
.myH2 {
	text-align:center;
	font-size: 4rem;
}
.myP {
	text-align: justify;
	padding-left:15%;
	padding-right:15%;
	font-size: 20px;
}
@media all and (max-width:700px){
	.myP {
		padding:2%;
	}
}
a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after { 
    width: 100%; 
    left: 0; 
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}

a:hover {
    color:white;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
/* dropdown-lang */
.dropdown-lang {
    float: left;
    overflow: hidden;
}
  
.dropdown-lang .dropbtn {
    font-size: 20px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-transform: uppercase;
}

.dropdown-lang-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* z-index: 99999; */
}
  
.dropdown-lang-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 15px; 
    font-weight: normal;
}
  
.dropdown-lang-content a:hover {
    background-color: #ddd;
}
  
.dropdown-lang:hover .dropdown-lang-content {
    display: block;
}
/*  */
.h1class {
    position: relative;
    color: #fff;
    font-size: 80px;
    margin-top: 10%;
    /* margin-left: 15%; */
    font-weight:normal;
}
.h2class {
    position: relative;
    color: #fff;
    font-size: 30px;
    /* margin-top: 5%; */
    /* margin-left: 15%; */
    font-weight:lighter;
}
.spanclass {
    position: relative;
    color: #fff;
    font-size: 30px;
    margin-top: 10%;
    /* margin-left: 15%; */
    font-weight:normal;
}
.twologo{
    position: relative;
    max-width: 30%;
    padding-left: 10%;
    padding-top: 5%;
}
#blurbackground {
    position: absolute;
    bottom: 72px; left: 72px;
    width: 300px;
    height: 100px;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    z-index: -1;
}
/* button form */
.open-button {
    background-color: #eea3ff;
    color: #000;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    width: 200px;
    /* margin-top: 5%; */
    /* margin-left: 15%; */
    font-size: 18px;
    font-weight:bold;
    border-radius: 25px;
}
.open-button:hover {
    background-color: #5a19a0;
    color: #eea3ff;
}
.open-button1 {
    background-color: #eea3ff;
    color: #000;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    width: 200px;
    margin-top: 50px;
    margin-left: 20%;
    font-size: 20px;
    font-weight:normal;
    border-radius: 25px;
    text-transform:uppercase;
}
.open-button1:hover {
    background-color: #5a19a0;
    color: #eea3ff;
}
.open-button2 {
    background-color: #eea3ff;
    color: #000;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    width: 250px;
    font-size: 20px;
    font-weight:normal;
    border-radius: 25px;
    text-transform:uppercase;
    display: inline-block;
}
.open-button2:hover {
    background-color: #5a19a0;
    color: #eea3ff;
}
.btn-3steps {
    margin: auto;
    margin-top: 40px;
}
/* register form */
.form-popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%;
    /* position: relative; */
}
/* Modal Content */
.form-container {
    background-color: #fefefe;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    font-size: 20px;
    font-weight:normal;
    height: 830px;
    margin-left: 35%;
    margin-top: 5%;
    /* position: relative; */
    /* z-index: 10; */
}
.form-container button {
    background-color: #eea3ff;
    color: #000;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    font-size: 20px;
    font-weight:normal;
    border-radius: 25px;
    margin-right: 15%;
}
.form-container button:hover {
    background-color: #5a19a0;
    color: #eea3ff;
}
.form-container input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight:normal;
}
.form-container input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight:normal;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float:right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close_viet {
    color: #aaaaaa;
    float:right;
    font-size: 28px;
    font-weight: bold;
}
  
.close_viet:hover, .close_viet:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* required indication */
.required:after {
    content:" *";
    color: red;
}

/* section 2 */
.sectionH2{
    /* margin-left: 20%; */
    margin-top: 7%;
    font-size: 33px;
    font-weight: bold;
    color: #184ca0;
    text-decoration: underline;
    text-decoration-color: #eea3ff; 
    text-decoration-thickness: 15%;
    text-decoration-skip-ink: none;
}
.sectionPara {
    /* margin-left: 20%; */
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
}
.sectionPara1 {
    /* margin-left: 20%; */
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
}
.section2Para1 {
    /* margin-left: 15%; */
    font-size: 20px;
    font-weight: normal;
    color: #184ca0;
}
/* section 3 */
.section3H2{
    margin-left: 20%;
    margin-top: 5%;
    font-size: 32px;
    font-weight: bold;
    color: #184ca0;
    text-decoration: underline;
    text-decoration-color: #eea3ff; 
    text-decoration-thickness: 15%;
    text-decoration-skip-ink: none;
    width: 100%;
}
.section3H2-1 {
    margin-left: 20%;
    margin-top: 20px;
    font-size: 32px;
    font-weight: normal;
    color: #15aeae;
    width: 100%;
}
.section3Para {
    margin-left: 20%;
    font-size: 22px;
    font-weight: normal;
    width: 70%;
}
.section3Para1 {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
    /* width: 50%; */
    color: #184ca0;
    width: 70%;
    margin-left: 20%;
}
.bg-grey {
    background-color: #eeeeee;
    width: 100%;
    height: 140vh;
}
.img1 {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    object-fit: cover;
}
.img2 {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.monitoring-247 {
    /* margin-left: 20%; */
    font-size: 20px;
    font-weight: normal;
    width: 100%;
    color: #444444;
    margin-top: 20px;
    /* margin-left: 5px; */
    position: relative;
}
/* section 4 */
.bg-aqua {
    background-color: #006ac2;
    width: 100%;
    height: 50vh;
}
.video-section {
    max-width: 25vw;
    margin-top: 50px;
    object-fit: cover;
}
.video-caption {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-left: 8%;
    margin-top: 10px;
}
.title-white{
    color: white;
    margin-top: 7%;
    font-size: 45px;
    text-decoration: underline;
    text-decoration-color: #eea3ff; 
    text-decoration-thickness: 15%;
    text-decoration-skip-ink: none;
}
/* section 5 */
.title-blue{
    color: #184ca0;
    margin-top: 15px;
    font-size: 32px;
    text-decoration: underline;
    text-decoration-color: #eea3ff; 
    text-decoration-thickness: 15%;
    text-decoration-skip-ink: none;
    font-weight: bold;
}
.caption-blue{
    color: #0049b8;
    font-size: 20px;
}
.img-register {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    display: block;
}
.left-text {
    line-height: 1.2;
    margin-left: 15px;
    padding-top: 0.5vw;
    width: 100%;
    /* float: right; */
}
.left-text1 {
    color: #f4c3ff;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
}
.left-title1 {
    color: white;
    font-size: 20px;
    font-weight: normal;
}
.img-side{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: 10%;
    margin-top: 5%;
}
.img-side-section2 {
    max-width: 120%;
    max-height: 120%;
    display: block;
    margin-left: 10%;
    margin-top: 5%;
}
/* section 6 */
.bg-lightgrey {
    background-color: #e1e7ed;
    width: 100%;
}
.img-steps{
    max-height: 100px;
    max-width: 100px;
    float: left;
    display: block;
    /* margin-bottom: 20px; */
    margin-right: 5%;
}
.left-text2 {
    font-size: 15px;
    color: #2a2a2a;
    padding-bottom: 10px;
    font-weight: 600;
}
.left-title2-1 {
    font-size: 15px;
    color: #2a2a2a;
    padding-bottom: 10px;
}
.title-blue1{
    color: #184ca0;
    margin:auto; 
    font-size: 35px;
    text-decoration: underline;
    text-decoration-color: #eea3ff; 
    text-decoration-thickness: 15%;
    text-decoration-skip-ink: none;
    font-weight: bold;
}
/* section 7 */
.bg-darkaqua {
    background-color: #1d5e8e;
    width: 100%;
}
.title-white1{
    color: white;
    font-size: 35px;
    text-decoration: underline;
    text-decoration-color: #eea3ff; 
    text-decoration-thickness: 15%;
    text-decoration-skip-ink: none;
}
.pink-text {
    color: #eea3ff;
    font-size: 18px;
}
.white-text {
    color: white;
    font-size: 18px;
    font-weight: normal;
    padding-bottom: 20px;
}
